{% extends 'layout/base.html' %}
{% block title %}Contact Us - Pet Shop{% endblock %}
{% block content %}
    <h1 class="mb-4">Liên hệ với chúng tôi</h1>
    <p><strong>Địa chỉ:</strong> Nhà Bè, Thành Phố Hồ Chí Minh</p>
    <p><strong>Email:</strong> 2251012016binh@ou.edu.vn</p>
    <p><strong>Hostline:</strong> 0 000 000 000 </p>
    <form id="contact-form" class="mt-4">
        <div class="mb-3">
            <label for="name" class="form-label">Tên của bạn</label>
            <input type="text" class="form-control" id="name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Địa chỉ Email của bạn</label>
            <input type="email" class="form-control" id="email" required>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Vấn đề của bạn</label>
            <textarea class="form-control" id="message" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Gửi</button>
    </form>
{% endblock %}